@model Domain.Goal

@{
    ViewData["Title"] = "CalculateGoal";
 Layout = "~/Views/Shared/MemberLayout.cshtml";
}

<h2>Estimated buying power within @Model.MonthGoals months.</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name of Goal:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Current Savings:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalsSavings)
        </dd>
        <dt>
            Savings Per Month:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoalSavingsPerMonth)
        </dd>
        <dt>
           How long you plan to save @Model.GoalSavingsPerMonth for:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthGoals)
        </dd>
        <dt>
           How long you have to pay this loan off after you borrow:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanTermInYears)
        </dd>
        <dt>
            Your estimated interest rate:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt>
            The estimated highest amount you will receive from a loan:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedHighLoan)
        </dd>
        <dt>
            The estimated lowest amount you will receive from a loan:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedLowLoan)
        </dd>
        <dt>
           The total from current saving, @Model.MonthGoals savings, and high loan: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedHighTotal)
        </dd>
        <dt>
            The total from current saving, @Model.MonthGoals savings, and low loan:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedLowTotal)
        </dd>
    </dl>
</div>

