@model Domain.Member

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Member</h4>
    <hr />

    @*<a asp-action="Update" asp-route-id="@Model.Id">Update</a>*@
<div>
    @foreach (var item in Model.BudgetList)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(modelItem => item.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.TotalMonthlyNetIncome)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.TotalMonthlyNetIncome)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.RemainderAfterBill)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.RemainderAfterBill)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.RemainderAfterGoals)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.RemainderAfterGoals)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.RemainderAfterExpenses)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.RemainderAfterExpenses)
            </dd>
        </dl>
    }
</div>
    <a asp-action="SeeBudget" >Calculate Budget</a>
</div>
