@model Domain.Budget

@{
    ViewData["Title"] = "SeeBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SeeBudget</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.member)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.member.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalMonthlyNetIncome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalMonthlyNetIncome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemainderAfterBill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemainderAfterBill)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemainderAfterGoals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemainderAfterGoals)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemainderAfterExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemainderAfterExpenses)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
