@model Domain.Budget

@{
    ViewData["Title"] = "SeeBudget"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>
 
    <hr />
    <div>
        <h3>Incomes</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.IncomeList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateIncome" asp-route-id="@Model.Id">Create Income</a>
    </div>
    <div>
        <table class="table">
            <h3>Bills</h3>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.BillList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Update Bill", "UpdateBill", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateBill" asp-route-id="@Model.Id">Create Bill</a>
    </div>
    <div>
        <table class="table">
            <h3>Goals</h3>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Saving
                </th>
                <th>
                    Savings Per Month
                </th>
                <th>
                    Goal
                <th>
                    Saving Per Month For Goal
                </th>
            </tr>

            @foreach (var item in Model.GoalList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Savings)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavingsPerMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavingsTowardGoal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoalSavingsPerMonth)
                    </td>
                    <td>
                        @Html.ActionLink("Update Goal", "UpdateGoal", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateCoal" asp-route-id="@Model.Id">Create Goal</a>
    </div>
    <div>
        <h3>Expenses</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Percent
                </th>
                <th>
                    Amount
                </th>
                <th>
                    
                </th>
            </tr>

            @foreach (var item in Model.ExpenseList)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
            </td>
        </tr>
            }

        </table>
        <a asp-action="CreateExpense" asp-route-id="@Model.Id">Create Expense</a>
    </div>
</div>
<div>
    <a asp-action="Calculate" asp-route-id="@Model.Id">Calculate</a>
</div>
