@model Domain.Budget

@{
    ViewData["Title"] = "SeeBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SeeBudget</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <div>
        <table class="table">


            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.IncomeList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateBill" asp-route-id="@Model.Id">Create Bill</a>
    </div>
    <div>
        <table class="table">


            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.IncomeList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateBill" asp-route-id="@Model.Id">Create Bill</a>
    </div>
    <div>
        <table class="table">


            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.IncomeList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <a asp-action="CreateBill" asp-route-id="@Model.Id">Create Bill</a>
    </div>
    <div>
        <table class="table">


            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.ExpenseList)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Update Income", "UpdateIncome", new { id = item.Id })
            </td>
        </tr>
            }

        </table>
        <a asp-action="CreateBill" asp-route-id="@Model.Id">Create Bill</a>
    </div>

</div>
  
<div>
    <a asp-action="Calculate" asp-route-id="@Model.Id">Calculate</a>
</div>
